/* body {
    background-color: rgb(66, 66, 136);
}
span {
    color: white;
}

.counter-container{

    margin: 5px;
    padding: 50px;
    height: 200px;

    align-items: center;
    justify-content: center;
    display: inline-block;


}

.counter {
    color: orange;
} */

body {
    background-color:cornsilk;
}